Repository open-zaak/open-zaak, pull requests merged in 2019-11, with the labels that each got.

#209 Admin fixes/improvements
  .gitignore
  requirements/ci.txt
  requirements/dev.txt
  requirements/test-tools.in
  src/openzaak/accounts/tests/factories.py
  src/openzaak/components/catalogi/admin/forms.py
  src/openzaak/components/catalogi/admin/resultaattype.py
  src/openzaak/components/catalogi/admin/zaaktypen.py
  src/openzaak/components/catalogi/models/eigenschap.py
  src/openzaak/components/catalogi/tests/admin/__init__.py
  src/openzaak/components/catalogi/tests/admin/test_resultaattype_admin.py
  src/openzaak/components/catalogi/tests/admin/test_zaaktype_admin.py
  src/openzaak/conf/includes/api.py
  src/openzaak/conf/includes/base.py
  src/openzaak/selectielijst/__init__.py
  src/openzaak/selectielijst/admin.py
  src/openzaak/selectielijst/api.py
  src/openzaak/selectielijst/apps.py
  src/openzaak/selectielijst/tests/__init__.py
  src/openzaak/selectielijst/tests/files/openapi.yaml
  src/openzaak/selectielijst/tests/files/procestypen.json
  src/openzaak/selectielijst/tests/files/resultaattypeomschrijvingen.json
  src/openzaak/selectielijst/tests/files/resultaten.json
  src/openzaak/selectielijst/tests/test_paginated_resultaten.py
  src/openzaak/utils/admin.py
  src/openzaak/utils/decorators.py
  src/openzaak/utils/fields.py
  src/openzaak/utils/tests.py
Labels: Catalogi, EPIC: Admin UI, python

#224 Document AB performance testing considerations
  docs/introduction/index.rst
  docs/introduction/performance/apachebench.rst
Labels: EPIC: Documentation, documentation

#240 Issue/catalogi type plural forms
  requirements/base.txt
  requirements/ci.txt
  requirements/dev.txt
  src/openzaak/components/besluiten/api/validators.py
  src/openzaak/components/besluiten/tests/test_besluit_create.py
  src/openzaak/components/besluiten/tests/test_validation.py
  src/openzaak/components/catalogi/admin/besluittype.py
  src/openzaak/components/catalogi/api/filters.py
  src/openzaak/components/catalogi/api/scopes.py
  src/openzaak/components/catalogi/api/serializers/besluittype.py
  src/openzaak/components/catalogi/api/serializers/informatieobjecttype.py
  src/openzaak/components/catalogi/api/viewsets/besluittype.py
  src/openzaak/components/catalogi/api/viewsets/catalogus.py
  src/openzaak/components/catalogi/api/viewsets/eigenschap.py
  src/openzaak/components/catalogi/api/viewsets/informatieobjecttype.py
  src/openzaak/components/catalogi/api/viewsets/mixins.py
  src/openzaak/components/catalogi/api/viewsets/relatieklassen.py
  src/openzaak/components/catalogi/api/viewsets/resultaattype.py
  src/openzaak/components/catalogi/api/viewsets/roltype.py
  src/openzaak/components/catalogi/api/viewsets/statustype.py
  src/openzaak/components/catalogi/api/viewsets/zaaktype.py
  src/openzaak/components/catalogi/migrations/0007_auto_20191119_1136.py
  src/openzaak/components/catalogi/migrations/0010_merge_20191120_1441.py
  src/openzaak/components/catalogi/models/besluittype.py
  src/openzaak/components/catalogi/models/informatieobjecttype.py
  src/openzaak/components/catalogi/openapi.yaml
  src/openzaak/components/catalogi/resources.md
  src/openzaak/components/catalogi/swagger2.0.json
  src/openzaak/components/catalogi/tests/factories/besluittype.py
  src/openzaak/components/catalogi/tests/factories/informatie_objecten.py
  src/openzaak/components/catalogi/tests/factories/relatieklassen.py
  src/openzaak/components/catalogi/tests/test_auth.py
  src/openzaak/components/catalogi/tests/test_besluittype.py
  src/openzaak/components/catalogi/tests/test_eigenschap.py
  src/openzaak/components/catalogi/tests/test_filters.py
  src/openzaak/components/catalogi/tests/test_informatieobjecttype.py
  src/openzaak/components/catalogi/tests/test_relatieklassen.py
  src/openzaak/components/catalogi/tests/test_resultaattype.py
  src/openzaak/components/catalogi/tests/test_roltype.py
  src/openzaak/components/catalogi/tests/test_statustype.py
  src/openzaak/components/catalogi/tests/test_zaaktype.py
Labels: python

#223 Fixes #148 -- Document deploying on Kubernetes
  deployment/provision.yml
  deployment/vars/db_credentials.example.yml
  docs/installation/deployment/kubernetes.rst
  docs/installation/index.rst
Labels: EPIC: Testst and Deployment, documentation

#250 Fixes #198 -- disable related object creation if main object is…
  src/openzaak/components/catalogi/admin/forms.py
  src/openzaak/components/catalogi/admin/zaaktypen.py
  src/openzaak/components/catalogi/models/zaaktype.py
  src/openzaak/components/catalogi/tests/admin/test_zaaktype_admin.py
  src/openzaak/utils/templates/admin/edit_inline/tabular_add_and_edit.html
Labels: EPIC: Admin UI

#246 Fixes #128 -- Validate external informatieobjecten
  src/openzaak/components/documenten/models.py
  src/openzaak/components/zaken/api/serializers/zaken.py
  src/openzaak/components/zaken/api/validators.py
  src/openzaak/components/zaken/loaders.py
  src/openzaak/components/zaken/tests/test_validation.py
  src/openzaak/components/zaken/tests/test_zaak_archive.py
  src/openzaak/loaders.py
  src/openzaak/utils/validators.py
Labels: python

#252 Fixes #191 -- Make duration fields user friendly
  src/openzaak/components/catalogi/admin/resultaattype.py
  src/openzaak/components/catalogi/migrations/0011_auto_20191121_1600.py
  src/openzaak/components/catalogi/migrations/0012_auto_20191122_1414.py
  src/openzaak/components/catalogi/models/besluittype.py
  src/openzaak/components/catalogi/models/resultaattype.py
  src/openzaak/components/catalogi/models/zaaktype.py
  src/openzaak/components/catalogi/tests/admin/test_zaaktype_admin.py
  src/openzaak/components/catalogi/tests/models/test_resultaattype_validation.py
  src/openzaak/components/catalogi/tests/models/test_zaaktype_validation.py
  src/openzaak/components/zaken/migrations/0010_auto_20191122_1411.py
  src/openzaak/components/zaken/models/zaken.py
  src/openzaak/forms/fields.py
  src/openzaak/forms/widgets.py
  src/openzaak/utils/fields.py
  src/openzaak/utils/templates/admin/widgets/split_relative_delta.html
Labels: EPIC: Admin UI, python
